    /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
    background-color: gray;
  }
  /* Since positioning the image, 
  we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because 
  of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  .carousel-item>img {
    position: absolute;
    opacity: 80%;
    min-width: 100%;
    height: 50rem;
}

  
  .card-body>img {
    opacity: 80%;
    min-width: 100%;
    height: 15rem;
  }

  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the 
  three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  


  /* Featurettes
  ------------------------- */
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */

  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (max-width: 640px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 30px;
    }
    
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }


  /*IDs*/
  #term-cond-bg{
    background-image: url('../images/farm.jpg');
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
  }

  #imagePreview {
    display: none;
  }

  #logo_part{
    padding:0;
    margin-right:5rem;
  }
  
  #logo{
    border: none; 
    width: 95px; 
    height: 95px; 
    opacity: 85%
  }

  #logo-signin{
    border: none; 
    width: 300px; 
    height: 300px; 
    opacity: 85%
  }
  
  #icon-search{
    font-size: 24px;
    text-decoration: none;
    color: black;
    background-color: gray;
  }
  
  #search-input{
    width: 35rem;
  }
  
  #icon-heart{
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
  }
  
  #icon-flag{
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
  }
  
  #Month, #Day, #Year{
    width: 17rem;
    height: 2.5rem;
  }

  #gender{
    height: 2.5rem;
    width: 10rem;
  }
  

  #textarea-hw{
    width: 300px;
    height: 200px;
    resize: none;
  }

  /*Class*/
  .icon-ds{
    font-size: 24px;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
  }
  
  .icon-ds-login{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left:10px;
    margin-right: 7px;
    display: flex;
    align-items: center;
  }
  
  .icon-ds-profile{
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-radius: 100%;
    border: 2px solid black;
  }
  
  .card-ds{
    border-radius: 10%;
    border: 3px solid gray;
  }
  
  .card-ds:hover{
    transform: scale(1.05);
  }
  
  .card-img-ds{
    border-radius: 10%;
    border: 3px solid white;
  }
  
  .anc-page{
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  
  .span-line{
    height: 5px;
    width: 50rem;
  }
  
  .password-text-ds{
    font-size: 11px;
  }

  
  .sign-button-ds{
    width: 15rem;
    border: 2px solid black;
    background-color: black;
  }

  .sign-button-ds:hover{
    background-color: gold !important;
    color: gray !important;
  }
  
  .create-acc-form-ds{
    border: 1rem solid yellow;
  }
  
  .split{
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  .split-2{
    height: 100%;
    width: 70%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .left {
    left: 0;
    background-color:none;
  }
  
  .right {
    padding-top:2rem;
    border-left:20px solid rgb(250, 217, 71);
    right: 0;
    background-color: white;
  }
  
  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .form-border{
    padding:2rem;
    border: 1px solid grey;
  }
  
  .tc-border{
    border: 15px solid black;
  }
  
  .hr-ht{
    opacity: 100%;
    padding: 4px;
    background-color:black;
    width: 70rem;
  }
  
  .account-add-tab, .customer-support{
    opacity: 100%;
    padding: 0.8rem;
    background-color:black;
    width: 70rem;
  }
  
  .custom-support-query-bg, .seller-store-chat{
    background-color: peru;
  }
  
  
  .acc_add_tab-margin-top{
    margin-top: 8rem;
  }
  .border-right{
    border-right: 3px solid black;
  }
  
  .aboutus_ds{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family:sans-serif;
  }
  
  .aboutus_ds_effect{
    background-color: black;
  }
  
  .aboutus_ds_effect:hover{
    background-color: grey;
  }
  
  .aboutus_team_ds{
    font-weight: lighter;
    font-style: italic;
    font-family:sans-serif;
  }
  
  .aboutus_img:hover{
    transform: scale(1.05);
    transition: 1s ease-in;
  }
  
  .forgot_password_ds{
    min-height:100vh;
    padding-top: 8rem;
    height:auto;
    width:auto;
  }
  
  /*Color ThemesFlog - BACKGROUNDS */

  .bg-cfe1b9{
    background-color: #cfe1b9;
  }
  

  .bg-397F35{
    background-color: #397F35;
  }

  .c-397F35{
    color: #397F35;
  }

  .acce_color{
    accent-color: #397F35;
  }

  .bg-F5BD22{
    background-color: #F5BD22;
  }

  .c-F5BD22{
    color: #F5BD22;
  }

  .bg-ECF39E{
    background-color: #ECF39E;
  }

  .c-ECF39E{
    color: #ECF39E;
  }


  /*Create Account Body*/

  .create_account_body{
    background-image: url('../images/farm.jpg'); 
    padding-top: 25px;
  }

  #create_acc{
    background-color: #397F35; 
    border: none; 
    color: white;
  }

  .font-size-md{
    font-size: medium;
  }

  .bg-3B442C{
    background-color: #3B442C;
  }

  .modify_account_details_body{
    background-image: url('../images/modify_account_img/modify_account.jpg');
    display:cover; 
  }

  .update_farmer_bg{
    background-image: url('../images/modify_account_img/farmer_vendor_update.jpg');
    display:cover; 
  } 

  .notice_bg{
    background-image: url('../images/notice_creation_imh/notice_img.jpg');
    display:cover; 
  }

  .admin_update_bg{
    background-image: url('../images/admin_account_img/update_admin_img.jpg');
    display:cover; 
  }

  .product_update_bg{
    background-image: url('../images/product_info_img/product_update.jpg');
    display:cover; 
  }


  /*Button Designs*/
  .button-ds{
    width: 15rem;
    background-color: black !important;
    color:white;
  }

  .button-ds:hover{
    background-color: gold !important;
    color: gray !important;
  }

  .farmer_up_button-ds{
    width: 20rem;
    background-color: black !important;
    color:white;
  }

  .farmer_up_button-ds:hover{
    background-color: gold !important;
    color: gray !important;
  }

  .acc_updates_ds{
    display: flex; 
    justify-content: end;
  }

  .admin_txt_ds{
    font-size: 18px !important;
  }

  /** Responsiveness */

  .logo_sign_in{
    padding:0;
    margin-right:5rem;
  }

  @media (max-width: 1400px) {
    #logo_part {
      display: none;
    }

    .split{
      height: 100%;
      width: 40%;
      position: fixed;
    }
    
    .anc-page{
      font-size: 20px;
    }

  }

  @media (max-width:992px) {
    .card{
      transform: scale(0.9);
    }

    .card-ds:hover{
      transform: scale(1.05);
    }
  }

  @media (max-width: 870px) {
    #logo_part {
      display: none;
    }

    .split{
      height: 100%;
      width: 50%;
      position: fixed;
    }

  }

  @media (max-width: 685px) {
    #logo_part {
      display: none;
    }

    .split-2{
      display: none;
    }

    .split{
      height: 100%;
      width: 100%;
      position: fixed;
    }

    .anc-page{
      font-size: 13px;
    }

    .card{
      transform: scale(0.8);
    }

    .card-ds:hover{
      transform: scale(0.85);
    }

  }

  .med_mobile_display{
    display:none;
  }

  @media(max-width: 1399px){
    #Month, #Day, #Year{
      height: 2.5rem;
      width: 15rem;
    }

    #search-input{
      width: 30rem;
    }

    
  } 

  .prod_img_rs_size{
    transform: scale(1);
  }

  @media(max-width: 1200px){
    #Month, #Day, #Year{
      height: 2.5rem;
      width: 12rem;
    }
    .desktop_display{
      display:none;
    }

    .med_mobile_display{
      display:contents;
    }

    .prod_img_rs_size{
      transform:scale(0.8);
      height:auto !important;
    }

    #search-input{
      width: 25rem;
    }
  }


  @media(max-width: 992px){
    #Month, #Day, #Year, #gender{
      height: 2.5rem;
      width: 9rem;
    }

    .button-ds{
      display: flex;
      justify-content: center;
    }

    .acc_updates_ds{
      display: flex;
      justify-content: center;
    }

    .admin_btn_scale_ds{
      justify-content: center;
      transform: scale(0.8);
    }

    #search-input{
      width: 18rem;
    }
  }

  @media(max-width: 767px){

    .admin_btn_scale_ds{
      justify-content: end;
      transform: scale(0.8);
    }

    .notice_display{
      display:none;
    }

    #search-input{
      width: 13rem;
    }
  }

  .btn{
    background: #397F35 !important;
    color: light !important;
  }

  .btn:hover{
    background-color: gold !important;
    color: gray !important;
  }

  .admin_btn{
    background: black;
    color: white !important;
  }

  .admin_btn:hover{
    background-color: gold;
    color: gray !important;
  }
